<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>562885190161-ga4jjh2h1p8p4nr5i783nkiqvi9a263m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562885190161-ga4jjh2h1p8p4nr5i783nkiqvi9a263m</string>
	<key>API_KEY</key>
	<string>AIzaSyA0Pf53jS_84wNIyLP9Jk4QRkPMgiHK4xs</string>
	<key>GCM_SENDER_ID</key>
	<string>562885190161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imvisile.hive</string>
	<key>PROJECT_ID</key>
	<string>demoproject-5bc33</string>
	<key>STORAGE_BUCKET</key>
	<string>demoproject-5bc33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562885190161:ios:da1e9289aed96460</string>
	<key>DATABASE_URL</key>
	<string>https://demoproject-5bc33.firebaseio.com</string>
</dict>
</plist>